*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.toc
*.xml
*.bcf
*.out
.vscode/settings.json
py_grouping_estimates/__pycache__/__init__.cpython-36.pyc
py_grouping_estimates/__pycache__/groupingEstimates.cpython-36.pyc
